.wrapper {
  display: flex;
  flex-direction: column;
  height: 35rem;
  padding: var(--size-7) var(--size-7);
  background-color: var(--color-dim);
  color: var(--color-white);
}

.div__image {
  width: 144px;
  height: 144px;
}
.div__image img {
  width: 100%;
  height: 100%;
}

.div__img--right {
  right: -50%;
}

.section__about {
  position: relative;
  background-image: url("../assets/TweetorsHeroImg.png");
  background-position: 175% -10%;
  background-size: 75%;
  background-repeat: no-repeat;
  height: calc(600px - 240px - 40px);
}

.article__list {
  width: 50%;
  display: flex;
}

.article__list ul {
  font-size: var(--size-10);
}

.div__cta {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%);
}

.section__signup {
  height: calc(600px - 32px);
  border: 2px solid var(--color-light-grey);
  border-radius: var(--radius-large);
  padding: var(--size-9);
}

.div__loginAlt {
  margin: var(--size-7) 0;
}

.btn {
  border-radius: var(--radius);
  transition: background-color linear 0.15s;
}

.btn:hover {
  transform: translateY(0);
  background-color: var(--primary-dark-color);
}

.btn:active {
  opacity: 0.9;
}

.pointer {
  cursor: pointer;
}

.input-toggle {
  position: relative;
}

.input-toggle .toggle-vis {
  right: 0;
  top: 50%;
  transform: translate(-25%, -90%);
  color: var(--primary-color);
  padding: var(--size-5);
  border-radius: 50%;
  position: absolute;
}

.input-toggle .toggle-vis:hover {
  background-color: var(--color-extra-light-grey);
}

.input-error {
  color: var(--color-red);
}

.div__login {
  margin-top: 7rem;
}

.btn-logout:hover {
  background-color: var(--color-red);
}

.mt-1 {
  margin-top: 1rem;
}

.my-md {
  margin: var(--size-7) 0;
}

.min-h-100 {
  min-height: 100%;
}

.tablist {
  border-bottom: 1px solid var(--primary-color);
}

.tablist .selectedTab {
  background: var(--primary-color);
  color: var(--color-white);
}

.singletab {
  background-color: var(--color-white);
  color: var(--color-dim);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.singletab:hover,
.singletab:focus {
  background-color: var(--primary-color);
  color: var(--color-white);
}

.contentLoader {
  padding: 1rem;
}

.ov-y-scroll {
  overflow-y: scroll;
}

.ov-y-auto {
  overflow-y: auto;
}

.tweetortabPanel {
  height: 17rem;
}

.exploretabPanel {
  height: 23rem;
}

.tweetor__main {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 0 var(--size-5);
}

.tweetor__main:first-child {
  margin-top: 0;
}

.tweetor__main:last-child {
  margin-bottom: 0;
}

.tweetor__section {
  padding: var(--size-7) var(--size-9);
  border-top: 1px solid var(--color-light-grey);
  border-bottom: 1px solid var(--color-light-grey);
}

.tweetor__pfp {
  width: var(--size-17);
  height: var(--size-17);
}

.tweetor__pfp img {
  border-radius: var(--radius-rounded);
}

.profile__btn {
  color: var(--primary-color);
}

.trash__btn {
  color: var(--color-red);
}

.w-80 {
  width: 80%;
}

.searchbox {
  position: relative;
  margin-right: var(--size-9);
}

.searchbox input {
  padding: var(--size-5) var(--size-9) var(--size-5) var(--size-17);
  font-size: var(--size-9);
  height: 100%;
}

.searchbox .search-icon {
  color: var(--color-grey);
  font-size: var(--size-9);
  margin-left: var(--size-5);
  position: absolute;
}

.div__emptyResult {
  width: 15rem;
  height: 15rem;
}

.tweetor__grid {
  display: grid;
  grid-template-columns: 20% 50% 15% 15%;
  justify-items: center;
  align-items: center;
}

.footer__main {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--size-15);
  background-color: var(--primary-color);
  color: var(--color-white);
}

.footer__external:hover {
  color: var(--color-dim);
  transition: color linear 0.2;
}

.dashboard {
  border: 2px solid var(--color-light-grey);
  border-radius: var(--radius-large);
  padding: var(--size-5);
}
